<template>
  <div class="section section-menu-header">
    <div class="container-header">
      <nav class="nav-header">
        <input id="check" type="checkbox" />
        <label for="check" class="checkbtn">
          <font-awesome-icon :icon="['fas', 'bars']" style="color: white" />
        </label>
        <nuxt-link to="/">
          <label class="logo">
            <img src="@/static/img/landing/logo.png" alt="" />
          </label>
        </nuxt-link>
        <ul
          class="menu-header ul-header"
          :default-active="activeIndex2"
          mode="horizontal"
          text-color="#fff"
          active-text-color="#ffd04b"
          @select="handleSelect"
        >
          <li index="1"><nuxt-link to="/" class="active">Home</nuxt-link></li>
          <li index="2">
            <nuxt-link to="/demo">Demos</nuxt-link>
          </li>
          <li index="3"><nuxt-link to="/element">Element</nuxt-link></li>
          <li index="4"><nuxt-link to="/features">Features</nuxt-link></li>
          <li index="5"><nuxt-link to="/features">Pages</nuxt-link></li>
          <li index="6"><nuxt-link to="/portfollo">Portfollo</nuxt-link></li>
          <li index="7"><nuxt-link to="/features">Blogs</nuxt-link></li>
          <li index="8"><nuxt-link to="/features">Shop</nuxt-link></li>
          <li index="9">
            <el-button type="primary" round>BY PORTO NOW !</el-button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.section-menu-header {
  color: black;
  width: 100%;
  height: 80px;
  background: #212529;
  position: fixed;
  z-index: 999999999;
  padding: 0 12px;
}
.container-header {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}
.nav-header {
  background: #212529;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  max-width: 1200px;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}
label.logo:hover {
  cursor: pointer;
}
.nav-header .ul-header {
  float: right;
}
.nav-header .ul-header li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.nav-header .ul-header li a {
  color: white;
  font-size: 17px;
  border-radius: 3px;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  padding: 0 30px 0 0;
}
#check {
  display: none;
}
@media only screen and (max-width: 991px) {
  .container-header {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
  }
  label.logo {
    font-size: 30px;
  }
  .nav-header {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }
  .nav-header .ul-header li a {
    font-size: 16px;
  }
  .checkbtn {
    display: block;
  }

  .ul-header {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #212529;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .nav-header .ul-header li {
    display: block;
    line-height: 30px;
    margin: 12px 0;
  }

  .nav-header .ul-header li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ .ul-header {
    left: 0;
  }
}
//  @media only screen and (min-width: 991px) {
//  .section-menu-header {
//    .container-header {
//      .nav-header {
//        .ul-header {
//          li {
//            display: inline-block;
//            line-height: 80px;
//            margin: 0 5px;
//          }
//        }
//      }
//    }
//  }
//}
@media only screen and (max-width: 767px) {
  .container-header {
    max-width: 540px;

    .nav-header {
      max-width: 540px;
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 575px) {
  .section-menu-header {
    .container-header {
      max-width: 720px;
      padding-right: 0;
      padding-left: 0;
      .nav-header {
        .checkbtn {
          padding-right: 30px;
        }
      }
    }
  }
}
/*
@media only screen and (min-height: 593px) {
  .section-menu-header {
    .container-header {
      .nav-header {
        .ul-header {
          li {
            margin: 25px 0;
          }
        }
      }
    }
  }
}
@media only screen and (min-height: 640px) {
  .section-menu-header {
    .container-header {
      .nav-header {
        .ul-header {
          li {
            margin: 26px 0;
          }
        }
      }
    }
  }
}
@media only screen and (min-height: 822px) {
  .section-menu-header {
    .container-header {
      .nav-header {
        .ul-header {
          li {
            margin: 50px 0;
          }
        }
      }
    }
  }
}
 */
</style>
