<template>
  <div class="header-wrap">
    <div id="container-home">
      <div class="wth-header" style="display: none">
        <div class="wth-header-item">
          <div id="header-app">
            <div class="logo-home" style="z-index: 100000">
              <div class="logo-item">
                <img
                  alt="Porto"
                  width="102"
                  height="45"
                  data-sticky-width="82"
                  data-sticky-height="36"
                  data-sticky-top="0"
                  src="@/static/img/landing/logo.png"
                />
              </div>
            </div>
            <div class="menu-home">
              <el-menu
                class="d_flex flex_row"
                background-color="#23262b"
                :default-active="activeIndex2"
                mode="horizontal"
                text-color="#fff"
                active-text-color="#ffd04b"
                @select="handleSelect"
              >
                <el-menu-item index="1"
                  ><nuxt-link to="/" class="active">Home</nuxt-link>
                </el-menu-item>
                <el-submenu index="2" style="line-height: 90px">
                  <template slot="title"
                    ><nuxt-link to="/" style="line-height: 90px"
                      >Demos</nuxt-link
                    >
                  </template>
                  <el-menu-item index="2-1">item one</el-menu-item>
                  <el-menu-item index="2-2">item two</el-menu-item>
                  <el-menu-item index="2-3">item three</el-menu-item>
                  <el-submenu index="2-4">
                    <template slot="title">item four</template>
                    <el-menu-item index="2-4-1">item one</el-menu-item>
                    <el-menu-item index="2-4-2">item two</el-menu-item>
                    <el-menu-item index="2-4-3">item three</el-menu-item>
                  </el-submenu>
                </el-submenu>
                <el-menu-item index="3"
                  ><nuxt-link to="/element">Element</nuxt-link>
                </el-menu-item>
                <el-menu-item index="4"
                  ><nuxt-link to="/features">Features</nuxt-link>
                </el-menu-item>
                <el-menu-item index="5"
                  ><nuxt-link to="/features">Pages</nuxt-link>
                </el-menu-item>
                <el-menu-item index="6"
                  ><nuxt-link to="/portfollo">Portfollo</nuxt-link>
                </el-menu-item>
                <el-menu-item index="7"
                  ><nuxt-link to="/features">Blogs</nuxt-link>
                </el-menu-item>
                <el-menu-item index="8"
                  ><nuxt-link to="/features">Shop</nuxt-link>
                </el-menu-item>

              </el-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      activeIndex: '1',
      activeIndex2: '1',
    }
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath)
    },
  },
}
</script>
<style lang="scss" scoped>
@import url('//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css');
#container-home {
  width: 100%;
  background-image: url(static/header_bg.jpg);
  .wth-header {
    background-image: url(static/header_bg.jpg);
    max-width: 100%;
    max-height: 745px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    animation-duration: 750ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    .wth-header-item {
      top: 0;
      right: 0;
      z-index: 123465;
      position: fixed;
      height: 80px;
      width: 100%;
      background-image: url(static/header_bg.jpg);
      padding: 0 16px;
      #header-app {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        .logo-home {
          width: 20%;
          .logo-item {
            img {
              height: 45px;
              width: 102px;
              margin-top: 25px;
            }
          }
        }
        .menu-home {
          width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          .el-menu.el-menu--horizontal {
            border-bottom: none;
            .el-menu-item,
            .el-menu-item .el-menu-item {
              padding: 0 11px;
              line-height: 90px;
            }
            a {
              font-size: 14px;
              text-decoration: none;
              text-transform: uppercase;
            }
            a.active,
            a:hover {
              color: #66b1fd;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
}
</style>
