<template>
  <div class="demo" style="padding-top: 15rem">
    <div class="container">
      <h1>Demooooooo</h1>
      <nuxt-link to="/demo/1" class="btn btn-danger">Demo ID 1</nuxt-link>
      <nuxt-link to="/demo/2" class="btn btn-danger">Demo ID 2</nuxt-link>
    </div>
  </div>
</template>
