<template>
  <footer>
    <div class="container text_center flex_column">
      <a href="#" class="logo-footer py_5">
        <img src="@/static/img/landing/logo.png" alt="" />
      </a>
      <p>
        Porto is exclusively available on themeforest.net by
        <a href="#">Okler.</a>
      </p>
      <ul class="d_flex flex_row justify_content_center py_5">
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><font-awesome-icon :icon="['fab', 'facebook-f']"
          /></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><font-awesome-icon :icon="['fab', 'twitter']"
          /></a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><font-awesome-icon :icon="['fab', 'invision']" />
          </a>
        </li>
      </ul>
    </div>
    <div style="background-color: #212529">
      <div class="container text_center py_2">
        <p class="mb_0" style="font-size: 12px">
          Copyright 2013 - 2019 Porto - All Rights Reserved
        </p>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
ul li {
  list-style-type: none;
}
footer {
  background-color: #1d2123;
  border-top: 1px solid #888888;
  .container {
    ul {
      width: 100%;
      li {
        width: 48px;
        height: 48px;
        line-height: 48px;
        border-radius: 100%;
        background: #272a2e;
        margin-right: 7px;
        svg {
          color: white;
        }
      }
      li:hover {
        background-color: #3b5a9a;
      }
    }
  }
}
</style>
