<template>
  <div>
    <div class="home">
      <default-header-mobile />
      <default-header />
      <Nuxt />
      <default-footer />
    </div>
  </div>
</template>

<script>
import DefaultHeader from '@/components/Header/DefaultHeader'
import DefaultFooter from '@/components/Footer/DefaultFooter'
import DefaultHeaderMobile from '@/components/Header/DefaultHeaderMobile'
export default {
  components: {
    DefaultHeaderMobile,
    DefaultHeader,
    DefaultFooter,
  },
}
</script>
<style>
@media only screen and (max-width: 720px) {
  .container {
    max-width: 540px;
  }
}
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
p {
  letter-spacing: -0.05em;
  font-size: 1rem;
  color: #777;
  line-height: 26px;
  margin: 0 0 20px;
}
</style>
