<template>
  <div>
    <section-top />
    <section-intro />
    <section-between />
    <section-angled />
    <section-studio />
    <section-funnel />
    <section-demo />
    <section-bottom />
  </div>
</template>

<script>
import SectionTop from '@/components/Content/SectionTop'
import SectionIntro from '@/components/Content/SectionIntro'
import SectionBetween from '@/components/Content/SectionBetween'
import SectionAngled from '@/components/Content/SectionAngled'
import SectionStudio from '@/components/Content/SectionStudio'
import SectionFunnel from '@/components/Content/SectionFunnel'
import SectionDemo from '~/components/Content/SectionDemo'
import SectionBottom from '@/components/Content/SectionBottom'
export default {
  components: {
    SectionTop,
    SectionIntro,
    SectionBetween,
    SectionAngled,
    SectionStudio,
    SectionFunnel,
    SectionDemo,
    SectionBottom,
  },
}
</script>

<style>
.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
</style>
