<template>
  <section class="section section-between section-no-border">
    <div class="container">
      <div class="align_items_center justify_content_between content">
        <div class="c_lg_4">
          <h3 class="font_weight_bold">
            The new generation of website templates is here.
          </h3>
          <p>
            A complete suite of tools designed to make life easier with a top
            quality website templates.
          </p>
        </div>
        <div class="d_flex">
          <div class="c_lg_auto mb_4">
            <i class="icon-bg icon-1"></i>
            <h4 class="font_weight_bold">
              Super High <br />
              Performance
            </h4>
          </div>
          <div class="c_lg_auto mb_4">
            <i class="icon-bg icon-2"></i>
            <h4 class="font_weight_bold">
              Created with Top<br />
              Plugins and Extensions
            </h4>
          </div>
          <div class="c_lg_auto mb_4">
            <i class="icon-bg icon-3"></i>
            <h4 class="font_weight_bold">Extremely Easy <br />to Customize</h4>
          </div>
        </div>
      </div>
      <div class="c_sm_12">
        <hr class="my_5" />
        <h2 style="font-weight: 900; font-size: 2.5rem">
          The Most Customizable + Solid and Tested Base
        </h2>
      </div>
      <div class="col-lg-8 offset-lg-2 px-lg-0 text-center">
        <p>
          Porto has a huge variety of options and features to create your site,
          it has also a very solid based that is being improved and tested by
          professional developers since 2013.
        </p>
      </div>
      <div
        class="image-wrapper position-relative z-index-3 appear-animation animated fadeInUpShorter appear-animation-visible"
      >
        <img src="@/static/img/landing/theme_options.png" alt="all" />
      </div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
hr {
  background: rgba(0, 0, 0, 0.06);
  border: 0;
  height: 1px;
  margin: 22px 0;
}
.section-no-border {
  border: 0;
}
.icon-bg {
  background: url(static/img/icons/icons.png);
  display: inline-block;
  width: 80px;
  height: 80px;
}
.icon-1 {
  background-position: -10px -10px;
}
.icon-2 {
  background-position: -110px -10px;
}
.icon-3 {
  background-position: -210px -10px;
}
img {
  width: 100%;
}
.section {
  .container {
    display: flex;
    flex-direction: column;
    .content {
      display: flex;
      flex-direction: row;
      .c_lg_4 {
        .d_flex {
          flex-direction: row;
        }
      }
    }
    .col-lg-8 {
      width: 70%;
    }
  }
}
@media only screen and (max-width: 991px) {
  .section {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .section {
    .container {
      .align_items_center {
        .d_flex {
          .c_lg_auto {
            flex: 0;
            width: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-between {
    .container {
      max-width: 540px;
      .align_items_center {
        flex-direction: column;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .section-between {
    .container {
      max-width: 720px;
      .align_items_center {
        .d_flex {
          flex-direction: column;
        }
      }
      .col-lg-8 {
        width: 100%;
      }
    }
  }
}
</style>
