<template>
  <section
    class="section section-bottoms my_0 py_4"
    style="background-color: #1c2023"
  >
    <div class="container">
      <div class="row">
        <div class="section-bottom c" style="width: 100%">
          <ul>
            <li class="mb_lg_0 pr_4">
              <nuxt-link to="" class="text_white_50"
                >Porto Versions:
              </nuxt-link>
            </li>
            <li class="mb_lg_0 pr_4">
              <nuxt-link to="">ADMIN HTML </nuxt-link>
            </li>
            <li class="mb_lg_0 pr_4">
              <nuxt-link to="">SHOP HTML </nuxt-link>
            </li>
            <li class="mb_lg_0 pr_4">
              <nuxt-link to="">WORDPRESS </nuxt-link>
            </li>
            <li class="mb_lg_0 pr_4">
              <nuxt-link to="">MAGENTO </nuxt-link>
            </li>
            <li class="mb_lg_0 pr_4">
              <nuxt-link to="">SHOPIFY </nuxt-link>
            </li>
            <li class="mb_lg_0 pr_4">
              <nuxt-link to="">DRUPAL </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss">
.section {
  .container {
    .row {
      .section-bottom {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            height: 42px;
            line-height: 42px;
            a {
              color: white;
              text-align: center;
              font-size: 12px;
              background-color: #212529;
              border-radius: 35px;
              padding: 10px 15px;
            }
            a:hover {
              text-decoration: none;
              background-color: #32383e;
              border-color: #383f45 #383f45 #212529;
              color: #fff;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-bottoms {
    .container {
      .row {
        .section-bottom {
          ul {
            flex-direction: column;
            li {
              padding: 5px;
              margin: 6px 0;
            }
          }
        }
      }
    }
  }
}
</style>
