<template>
  <section class="section section-studio">
    <div class="container text_center mb_4 pt_5">
      <div class="c_md_6 d_flex flex_column">
        <h4 class="position_relative"><span>Introducing Porto Admin</span></h4>
        <p class="p-studio">ADMIN WITH SAME LOOK FEEL AS THE FRONT-END</p>
        <div class="p-content py_3">
          <p class="section-content">
            Porto Admin integration give you a package of new features to add in
            the front-end template, such as advanced tables, advanced forms,
            etc... Also allows you to create the back-end of your site using the
            same design.
          </p>
        </div>
        <a class="btn btn_toolbar py_2">
          <nuxt-link to="/element"> VIEW PORTO ADMIN</nuxt-link></a
        >
        <p class="pt_3">
          * Porto Admin <b class="text_dark">is not included</b> in the
          front-end and is available for $24.
        </p>
      </div>
      <div class="c_md_6 py_5 position_relative">
        <img
          class="position_absolute"
          src="@/static/img/landing/porto_dots2.png"
          alt=""
        />
        <div class="appear_animation appear_animation_visible">
          <div class="strong-shadow position_relative strong-shadow-top">
            <img
              src="@/static/img/landing/porto_admin.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.section {
  padding-bottom: 8rem;
  .container {
    .c_md_6 {
      align-items: center;
      h4 {
        span {
          font-size: 30px;
          font-weight: 800;
        }
      }
      .p-studio {
        color: hsl(200, 100%, 40%) !important;
        font-weight: 600;
        letter-spacing: 2px;
      }
      a {
        border-radius: 35px;
        padding-left: 38.4px;
        padding-left: 2.4rem;
        padding-right: 38.4px;
        padding-right: 2.4rem;
        font-weight: 600;
        background: linear-gradient(
          135deg,
          hsl(200, 100%, 40%) 0%,
          #0169fe 80%
        );
        color: #fff;
      }
    }
    .py_5 {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      img {
        top: -60px;
      }
      .appear-animation {
        .strong-shadow {
          display: inline-block;
          .img-fluid {
            border-width: 10px;
            border-color: #fff;
          }
        }
        .strong-shadow-top::before {
          top: -25px;
          left: 25px;
          right: -25px;
          bottom: 25px;
        }
        .strong-shadow::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #494b4e;
          z-index: -1;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .section-studio {
    .container {
      max-width: 720px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-studio {
    .container {
      max-width: 540px;
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-studio {
    .container {
      padding: 0;
      max-width: 720px;
      flex-direction: column;
    }
  }
}
</style>
