<template>
  <section class="section section-top">
    <div class="section-wrap container">
      <div class="section-wrap-item">
        <div class="section-wrap-item-left">
          <div class="section-wrap-item-left-header">
            <h6>{{ title }}</h6>
            <h1 style="color: #fff">{{ content }}</h1>
            <p>
              {{ index }}
            </p>
            <a href="#">{{ link }} </a><fa icon="envelope" />
            <br />
            <a>
              <div
                class="video-open-icon el-icon-video-play"
                style="font-size: 55px; background-color: white; color: #00adee"
              ></div>
              See How It Works</a
            >
            <br />
          </div>
        </div>
        <div class="section-wrap-item-right">
          <div class="section-wrap-item-right-top">
            <div class="section-wrap-item-right-top-video">
              <video>
                <img src="@/static/video/presentation.mp4" />
              </video>
            </div>
          </div>
        </div>
        <br />
      </div>
      <div class="section-wrap-bottom my_4">
        <div class="section-wrap-bottom-header">
          <div class="section-wrap-bottom-header-star">
            <fa class="el-icon-star-off py_3"></fa>
            <fa class="el-icon-star-off"></fa>
            <fa class="el-icon-star-off"></fa>
            <fa class="el-icon-star-off"></fa>
            <fa class="el-icon-star-off"></fa>
          </div>
          <h2>Popular HTML5 Site Template</h2>
          <p>* Aproved by 35k buyers since 2013</p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      title: 'PORTO HTML5 TEMPLATE',
      content: 'The Best HTML5 Template !',
      index:
        'Porto is simply the best choice for your new website. The template\n' +
        '              is several years among the most popular in the world.',
      link: 'VIEW MORE',
    }
  },
}
</script>
<style lang="scss" scoped>
.section {
  background-image: url(static/header_bg.jpg);
  margin: 0 auto;
  padding: 8% 0 0;
  background-size: cover;
  background-position: center;
  animation-duration: 750ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  .section-wrap {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      flex-direction: row;
      padding: 0 0 7% 0;
      align-items: flex-end;
      &-left {
        &-header {
          color: white;
          width: 92%;
          text-align: left;
          h6 {
            color: #0870a5;
          }
          h1 {
            font-weight: 750;
            font-size: 3.5rem;
          }
          p {
            color: rgba(255, 255, 255, 0.6) !important;
          }
          a {
            color: white;
            font-size: 12px;
            font-weight: 700;
            .video-open-icon {
              display: inline-block;
              width: 64px;
              height: 64px;
              padding: 4px;
              -webkit-transition: padding 0.2s;
              border-radius: 2rem;
              background: rgba(255, 255, 255, 0.07);
              vertical-align: middle;
              margin-right: 8px;
              margin-top: 11px;
            }
          }
        }
      }
      &-right {
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: column;
        &-top {
          &-video {
            border: 10px solid white;
            box-sizing: border-box;
            width: 530px;
            max-height: 745px;
            border-radius: 0.5rem;
            video {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    &-bottom {
      width: 53%;
      -webkit-animation-delay: 1200ms;
      animation-delay: 1200ms;
      text-align: center;
      position: relative;
      right: 31%;
      &-header {
        animation-delay: 1500ms;
        position: relative;
        &-star {
          .el-icon-star-off {
            color: white;
            font-size: 25px;
          }
        }
        h2 {
          color: white;
          font-weight: 700;
        }
        p {
          color: rgba(255, 255, 255, 0.6) !important;
        }
      }
    }
    &-bottom::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      width: 58vw;
      background-image: linear-gradient(
        150deg,
        #08c 0,
        #08c 30%,
        #0169fe 70%,
        #0169fe 100%
      );
      border-radius: 4px;
      box-shadow: 0 0 60px;
    }
  }
}
@media only screen and (max-width: 1150px) {
  .section {
    .section-wrap-bottom {
      right: 27%;
    }
  }
}
@media only screen and (max-width: 991px) {
  .section {
    .section-wrap {
      max-width: 720px;
      padding-top: 30px;
      .section-wrap-item {
        flex-direction: column;
        &-right {
          width: 100%;
          padding-top: 45px;
          align-items: center;
          &-top {
            width: 100%;
            &-video {
              width: 100%;
            }
          }
        }
      }
      .section-wrap-bottom {
        width: 85%;
        right: 31%;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-top {
    .section-wrap {
      max-width: 540px;
      padding-top: 68px;
      .section-wrap-bottom {
        width: 100%;
        right: -3%;
      }
      .section-wrap-bottom::before {
        width: 100vw;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .section-top {
    .section-wrap {
      max-width: 720px;
      .container {
        padding-right: 13px;
        padding-left: 13px;
      }
      .section-wrap-item {
        &-left {
          &-header {
            width: 100%;
          }
        }
      }
    }
  }
}
</style>
