<template>
  <section class="section section-angled section-no-border">
    <div class="container">
      <div class="align_items_center">
        <div class="c_lg_6 mb_5">
          <!--          <img-->
          <!--            src="@/static/img/porto-icon-light.png"-->
          <!--            alt="all"-->
          <!--            class="position_absolute"-->
          <!--          />-->
          <div class="text-reasons">
            <div class="text-reasons-lef">
              <label class="appear-animation">6</label>
            </div>
            <div class="text-reasons-right">
              <h3 class="appear-animation-visible">Reasons</h3>
              <h3
                class="appear-animation-visible"
                style="background: rgba(25, 25, 25, 0.57)"
              >
                Why you should choose
              </h3>
              <h3>
                <span> Porto </span>
              </h3>
            </div>
          </div>
        </div>
        <div
          class="col-lg-5 col-xl-4 pl-lg-4 pl-xl-5 mb-5 align_items_center-right"
        >
          <h3>With Porto your satisfication is guaranteed.</h3>
          <p>
            We have selected the 6 top reasons to choose Porto. Check below:
          </p>
        </div>
      </div>
      <div class="section-angled-item">
        <div class="section-angled-items d_flex">
          <div class="section-angled-items-top">
            <img src="@/static/img/landing/reason1.png" alt="" />
            <div class="d_flex flex_row section-angled-items-top-content">
              <span class="font_weight_bold mb_0">1</span>
              <h4>
                <small>OPTIMIZED FOR</small><br />
                Speed Performance
              </h4>
            </div>
            <p>
              Choose Porto and make your site at high performance. We know your
              website must the fast as possible.
            </p>
          </div>
          <div class="section-angled-items-top">
            <img src="@/static/img/landing/reason1.png" alt="" />
            <div class="d_flex flex_row section-angled-items-top-content">
              <span class="font_weight_bold mb_0">1</span>
              <h4>
                <small>OPTIMIZED FOR</small><br />
                Speed Performance
              </h4>
            </div>
            <p>
              Choose Porto and make your site at high performance. We know your
              website must the fast as possible.
            </p>
          </div>
          <div class="section-angled-items-top">
            <img src="@/static/img/landing/reason1.png" alt="" />
            <div class="d_flex flex_row section-angled-items-top-content">
              <span class="font_weight_bold mb_0">1</span>
              <h4>
                <small>OPTIMIZED FOR</small><br />
                Speed Performance
              </h4>
            </div>
            <p>
              Choose Porto and make your site at high performance. We know your
              website must the fast as possible.
            </p>
          </div>
          <div class="section-angled-items-top">
            <img src="@/static/img/landing/reason1.png" alt="" />
            <div class="d_flex flex_row section-angled-items-top-content">
              <span class="font_weight_bold mb_0">1</span>
              <h4>
                <small>OPTIMIZED FOR</small><br />
                Speed Performance
              </h4>
            </div>
            <p>
              Choose Porto and make your site at high performance. We know your
              website must the fast as possible.
            </p>
          </div>
          <div class="section-angled-items-top">
            <img src="@/static/img/landing/reason1.png" alt="" />
            <div class="d_flex flex_row section-angled-items-top-content">
              <span class="font_weight_bold mb_0">1</span>
              <h4>
                <small>OPTIMIZED FOR</small><br />
                Speed Performance
              </h4>
            </div>
            <p>
              Choose Porto and make your site at high performance. We know your
              website must the fast as possible.
            </p>
          </div>
          <div class="section-angled-items-top">
            <img src="@/static/img/landing/reason1.png" alt="" />
            <div class="d_flex flex_row section-angled-items-top-content">
              <span class="font_weight_bold mb_0">1</span>
              <h4>
                <small>OPTIMIZED FOR</small><br />
                Speed Performance
              </h4>
            </div>
            <p>
              Choose Porto and make your site at high performance. We know your
              website must the fast as possible.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-section-angled py_5">
        <nuxt-link class="btn btn_dark btn-section-angled-content" to="/"
          >BUY PORTO NOW !</nuxt-link
        >
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.section {
  background: #f7f7f7;
  border-top: 5px solid #f1f1f1;
  margin: 30px 0;
  padding: 50px 0;
}
.section-angled {
  background-image: url(static/img/landing/reason_bg.png);
  background-repeat: no-repeat;
  background-color: #0169fe !important;
  .container {
    display: flex;
    flex-direction: column;
    .align_items_center {
      width: 100%;
      display: flex;
      flex-direction: row;
      .mb_5 {
        padding: 18% 0 0 0;
        img {
          width: 154px;
          height: 146px;
        }
        .text-reasons {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: row;
          -ms-flex-align: center;
          align-items: center;
          position: relative;
          transform: rotate(-10deg);
          color: white;
          .text-reasons-lef {
            padding-right: 24%;
            .appear-animation {
              font-size: 12.5rem;
              line-height: 0.8;
              font-weight: 800;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          .text-reasons-right {
            .appear-animation-visible {
              background: rgba(25, 25, 25, 0.15);
              margin-left: -10%;
            }
            h3 {
              padding: 0.75rem 3.5rem;
              text-transform: uppercase;
              border-radius: 4px;
              margin-bottom: 0.4rem;
              font-weight: 800;
              span {
                background: #222529;
                font-size: 2.25rem;
                padding: 0.5rem 1.25rem;
                margin-left: 15%;
              }
            }
          }
        }
      }
      .align_items_center-right {
        float: right;
        padding-left: 70px;
        color: white;
        p {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    .section-angled-item {
      .section-angled-items {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        width: 100%;
        .section-angled-items-top {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          padding-top: 20px;
          img {
            width: 90%;
          }
          .section-angled-items-top-content {
            width: 87%;
            margin: 0 auto;
            span {
              font-size: 50px;
              height: 30px;
              padding-right: 12px;
            }
            h4 {
              width: 80%;
              text-align: left;
              color: white;
            }
          }
          p {
            color: rgba(255, 255, 255, 0.6) !important;
            width: 86%;
            text-align: left;
            margin: 0 auto;
          }
        }
      }
    }
    .btn-section-angled {
      .btn-section-angled-content {
        border-radius: 3rem;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .section-angled {
    .container {
      max-width: 720px;
      .section-angled-item {
        .section-angled-items {
          .section-angled-items-top {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-angled {
    .container {
      max-width: 540px;
      .align_items_center {
        flex-direction: column;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .section-angled {
    .container {
      max-width: 720px;
      .section-angled-item {
        .section-angled-items {
          justify-content: space-evenly;
          .section-angled-items-top {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
          }
        }
      }
    }
  }
}
</style>
