<template>
  <section class="section section-funnel position_relative">
    <div class="container pb_md_5">
      <div class="section-angled-layer-top position_absolute"></div>
      <svg></svg>
      <img
        class="position_absolute"
        src="@/static/img/landing/porto_notebook.png"
        alt=""
      />
      <div class="container text_center py_5 mb_5 container-right">
        <div class="justify_content_center pb_md_5 mb_md_5">
          <div class="offset-lg-5 mb_md_5">
            <h2 class="font_weight_bold appear-animation-visible text_white">
              Top Performance
            </h2>
            <p class="text_white_50">
              Porto has high performance base, all structure are focusing on
              performance as main point. Porto speed optimization is super fast
              compared to other templates.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container container-funnel-bt row align-items-center pb_md-5 mb_md_5 d_flex flex_row"
    >
      <div class="text_center mt_5">
        <h2 class="text_white">
          Works Perfectly on
          <span class="position_relative"> Any </span> Device!
        </h2>
        <p class="mb_5">
          We believe you will face lots of traffic from mobile device users not
          only from desktop or laptop users. Porto is the best solution for you,
          works fine on any screen resolutions and mobile devices. Try Porto and
          see how it works!
        </p>
      </div>
    </div>
    <div class="section-funnel-layer-bottom">
      <div class="section-funnel-layer-bottom-light bg-light"></div>
      <div
        class="section-funnel-layer-bottom-light bg-light"
        style="transform: skewY(4.7deg)"
      ></div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.section-funnel {
  background-image: url(static/img/landing/porto_performance_bg.png);
  background-size: 100%;
  background-position: top;
  background-position: center;
  .container {
    .section-angled-layer-top {
      padding: 5rem 0;
      background-color: #22252a;
      -webkit-transform: skewY(1.7deg) translate3d(0, -50%, 0);
      transform: skewY(1.7deg) translate3d(0, -50%, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    img {
      display: block;
      top: -170px;
      left: 90px;
      animation-delay: 300ms;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
    }
    .container-right {
      .justify_content_center {
        z-index: 1;
        margin-left: 28.666667%;
        .offset-lg-5 {
          h2 {
            font-size: 35px;
            z-index: 1;
          }
          p {
          }
        }
      }
    }
  }
  .container-funnel-bt {
    padding-bottom: 69px;
    .text_center {
      .text_white {
        span::after {
          content: '';
          position: absolute;
          right: calc(100% - 74px);
          bottom: -6px;
          background: url(@/static/img/pencil-blue-line.png);
          width: 0;
          height: 15px;
          animation-name: pencilAnimation;
          -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
          -webkit-animation-delay: 2s;
          animation-delay: 2s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          overflow: hidden;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
  .section-funnel-layer-bottom {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 96px 0;
    padding: 4rem 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    .section-funnel-layer-bottom-light {
      transform: skewY(-4.7deg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
    }
  }
}
@media only screen and (max-width: 991px) {
  .section {
    .container {
      max-width: 720px;
      flex-direction: column;
      .position_absolute {
        display: none;
      }
      .text_center {
        width: 100%;
        .justify_content_center {
          width: 100%;
          margin: 0 auto;
        }
      }
      .text_white {
        font-weight: bold;
        color: black;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .section {
    .container {
      max-width: 540px;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
</style>
