<template>
  <section class="section section-intro">
    <div class="container">
      <div class="counters">
        <div class="offset-lg-1"></div>
        <div class="content py_2 m_2">
          <h2> The Perfect Template for <br /> Beginners or Professionals</h2>                                                                                            </h2>
          <p class="sub-title">YOUR WEBSITE TO  <span>A NEW LEVEL </span></p>
          <p class="py_3">Porto is simply a better choice for your new website design. The template is several years among the most popular in the world, being constantly improved and following the trends of design and best practices of code. Your search for the best solution is over,
            get your own copy and join tens of thousands of happy customers.</p>
        </div>
      </div>
      <div class="intro py_3 px_3">
        <div class="counter-lef px_4">
          <div class="counter-lef-item">
            <h3 class="mb_2">75+</h3>
            <label class="font_weight_bold m_0">Included Demos</label>
            <p class="mb_3 font_weight_lighter">600+ HTML FILES</p>
            <p><a href="#demo" class="font_weight_bold">VIEW DEMOS <fa class="el-icon-arrow-right"></fa> </a></p>
          </div>
        </div>
        <div class="counter-right px_4">
          <div class="counter-right-item">
            <h3 class="mb_2">35K+</h3>
            <label class="font_weight_bold">Websites Using Porto HTML</label>
            <p class="mb_3 font_weight_lighter">100K+ IN ALL VERSIONS</p>
            <p><a href="#demo" class="font_weight_bold">BUILD WEBSITE  <fa class="el-icon-arrow-right"></fa> </a></p>
          </div>
        </div>
      </div>
      <div class="justify-content">
        <div class="justify-content-item position_relative">
          <div class="justify-content-item-lef px_3 ">
            <img src="@/static/img/landing/intro2.jpg" alt="all">
          </div>
          <div class="justify-content-item-right">
            <div class="justify-content-item-right-one">
              <img src="@/static/img/landing/intro1.jpg" alt="all">
            </div>
            <div class="justify-content-item-right-two">
              <img src="@/static/img/landing/intro3.jpg" alt="all">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss">
  .section-intro {
    .container {
      padding: 6rem 0;
      display: flex;
      flex-direction: column;
      .counters {
        width: 78%;
          .content {
            h2 {
              font-weight: 900;
            }
            .sub-title {
              color: #0f6674;
              font-weight: 700;
            }
        }
      }
      .intro {
        width: 60%;
        display: flex;
        flex-direction: row;
        .counter-lef{
          width: 50%;
          border-right: 1px solid #999;
          &-item {
            h3 {
              font-size: 60px;
              font-weight: 900;
            }
            label {
              font-weight: 700;
              font-size: 23px;
            }
          }
        }
        .counter-right{
          width: 50%;
          &-item {
            h3 {
              font-size: 60px;
              font-weight: 900;
            }
            label {
              font-weight: 700;
              font-size: 23px;
            }
          }
        }
      }
      .justify-content {
        width: 100%;
        margin: 0 auto;
        &-item {
          align-items: center;
          display: flex;
          flex-direction: row;
          margin: 0 auto;
          max-width: 1200px;
          &-lef {
            width: 19%;
            img {
              float: left;
              width: 100%;
            }
          }
          &-right {
            width: 65%;
              display: flex;
            flex-direction: row;
            align-items: center;
            &-one {
              width: 100%;
              margin: 0 auto;
              img {
                width: 100%;
                position: relative;
                margin: 0 auto;
              }
            }
            &-two {
              position: absolute;
              border: 19px solid white;
              right: 0%;
              width: 45%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 991px)  {
    .section-intro {
      .container {
        .justify-content {
          max-width: 720px;
          &-item {
            &-lef {
              width: 24%;
            }
              }
            }
          }
        }
      }
  @media only screen and (max-width: 767px){
    .section-intro {
      .container {
        .counters {
          width: 70%;
        }
        .intro {
          width: 90%;
        }
        .justify-content {
          &-item   {
            &-lef {
              display: none;
            }
            &-right {
              &-two {
                width: 54%;
                right: 7%;
              }
            }
          }
        }
      }
    }

  }
  @media only screen and (max-width: 575px) {
    .section-intro {
      .container {
        .counters {
          width: 100%;
          max-width: 720px;
        }
        .intro {
          flex-direction: column;
          align-items: center;
          .counter-lef {
            border: none;
            padding-bottom: 10px;
          }
        }
        .justify-content {
          &-item {
            &-right {
              &-two {
                width: 72%;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 575px) {
    .section-intro {
      .container {
        .intro {
          .counter-lef {
            width: 100%;
          }
          .counter-right {
            width: 100%;
          }
        }
      }
    }
  }

</style>

