<template>
  <section
    id="demo"
    class="section section-demo position_relative pt_0 m_0 pb_5"
  >
    <div class="container">
      <div class="align_items_center list_group">
        <div class="text_center">
          <ul class="demos-menu">
            <li>1. SELECT DEMO</li>
            <li class="mx_5">2. CUSTOMIZE</li>
            <li>3 DONE</li>
          </ul>
          <p class="mb_5">
            Porto is a truely complete template, with over 75 demos that make it
            suitable for any type of website. We believe you will like Porto.
          </p>
          <p class="pb_2 mb_5 p-75">
            <span class="mr_3">75+</span>
            Demos Ready to Use
          </p>
        </div>
      </div>
    </div>
    <div id="demos" class="container-fluid">
      <div class="container-fluid-menu mb_5">
        <ul class="d_flex flex_row justify_content_center">
          <li class="pr_3 text_dark">
            <nuxt-link to="/">SHOW ALL</nuxt-link>
          </li>
          <li class="pr_3"><nuxt-link to="/">CLASSIC</nuxt-link></li>
          <li class="pr_3"><nuxt-link to="/">SHOP</nuxt-link></li>
          <li class="pr_3"><nuxt-link to="/">ONE PAGE</nuxt-link></li>
          <li class="pr_3"><nuxt-link to="/">BUSINESS</nuxt-link></li>
          <li class="pr_3"><nuxt-link to="/">BLOG</nuxt-link></li>
          <li class="pr_3"><nuxt-link to="/">PORTFOLIO</nuxt-link></li>
        </ul>
      </div>
      <div class="portfolio-list position_relative d_flex flex_row">
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
        <div class="c_sm_6 c_md_4 portfolio-list-item pb_5">
          <div class="portfolio-list-items is-animating">
            <div class="portfolio-item text_center">
              <nuxt-link to="/demo"
                ><span class="m_0">
                  <img
                    src="~/static/img/previews/preview-classic.jpg"
                    alt=""
                    class="img-fluid"
                  /> </span
              ></nuxt-link>
              <h5 class="text_dark text_capitalize mt_3">Classic</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss">
#demo {
  z-index: 3;
  .container {
    .align_items_center {
      .text_center {
        width: 100%;
        .demos-menu {
          display: flex;
          justify-content: center;
          flex-direction: row;
          li {
            color: hsl(200, 100%, 40%);
            font-weight: 600;
            font-size: 18px;
          }
        }
        .p-75 {
          color: #212529 !important;
          font-weight: 700 !important;
          font-size: 2.3em !important;
          letter-spacing: -1px;

          span {
            font-weight: 900;
            font-size: 2em;
            line-height: 1;
            color: black;
          }
        }
      }
    }
  }
  .container-fluid {
    width: 100%;
    padding-left: 3.125%;
    padding-right: 3.125%;
    margin-right: auto;
    margin-left: auto;
    .container-fluid-menu {
      .flex_row {
        .pr_3 {
          height: 45px;
          line-height: 45px;
          a {
            color: black;
          }
          a:hover {
            transition: all 0.5s;
            color: #007bff;
            text-decoration: #007bff;
          }
        }
        li:focus {
          border-bottom: 1px solid #007bff;
        }
      }
    }
    .portfolio-list {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      width: 100%;
      justify-content: center;
      .portfolio-list-item {
        flex: 0 0 20%;
        max-width: 20%;
        left: 0;
        top: 0;
        .portfolio-list-items {
          animation-delay: 100ms;
          animation-name: fadeInUpShorter;
          opacity: 1;
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  #demo {
    .container-fluid {
      .portfolio-list {
        .portfolio-list-item {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #demo {
    .container {
      .align_items_center {
        .text_center {
          width: 100%;
          .demos-menu {
            flex-direction: column;
            li {
              padding-bottom: 10px;
            }
          }
        }
      }
    }
    #demos {
      .portfolio-list {
        &-item {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  #demo {
    #demos {
      .container-fluid-menu {
        .d_flex {
          flex-wrap: wrap;
        }
      }
      .portfolio-list {
        &-item {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}
</style>
